{% extends 'base/base.html' %}

{% block title %}
О данном проекте
{% endblock title %}

{% block content%}
<div class="blocks">
<h1>Проект WHYBLOG</h1>

<h2>Веб-сайт c функционалом персонального блога</h2>
<p></p>
<p></p>
<h3>Технологический стек:<br>
    <ul>
    <li>Python 3.10, FastAPI, PostgreSQL, Celery, Redis, asyncio, Pydantic, CSS, Jinja2<br></li>
    <li>Взаимодействие с базой данных - SQLAlchemy, alembic<br></li>
    <li>Админка - SQLAlchemy Admin<br></li>
    </ul>
</h3>
<h2>Функционал:</h2>
<ul>
<li>1. Регистрирация нового пользователя и прохождение аутентификации, выход из своего профиля (исп. JWT)</li>
<li>2. Размещение на персональной странице постов (статей), прикрепление фото к посту</li>
<li>3. Редактирование/удаление поста после публикации</li>
<li>4. Просмотр страниц других пользователей</li>
<li>5. После регистрации на ваш e-mail будет отправлено письмо с подтверждением регистарции (исп. Celery)</li>
<li>6. Полноценный API для взаимодействия с сайтом не только через GUI</li>
<li>7. Админка для удобной работы с базой данных</li>
</ul>
</div>

{% endblock content%}