{% extends 'base/base.html' %}

{% block title %}
Новая публикация
{% endblock title %}


{% block content %}
<form action="/update_article_redirect{{ article_id }}" enctype="multipart/form-data" method="post">
    <p>
        Название:
        <input name="title" required/>
    </p>
    <p>
        Содержание:
        <textarea name="content" type="text"></textarea>
    </p>
    <p>
        Фото:
        <input name="file" type="file"/>
    </p>
    <input type="submit" value="Опубликовать" />
</form>
{% endblock %}